<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="wrap">
     <div class="form-wrap">
        <form id="login"  class="input-group" method="GET" action="">
            <div>
            <label for="useremail"></label>
            <input type="email" class="input-field" placeholder="User Email" name="useremail" required>
            </div>
            <div>
            <label for="userpassword"></label>
            <input type="password" class="input-field" placeholder="Enter Password" name="password" required>
            </div>
            <br>
            <input type="checkbox" class="checkbox"><span>Remember Password</span>

            <button class="submit">Login</button>
<!--            로그인이 성공하면 해당 홈페이지로 넘어가도록 렌더링해야-->
            <br>
            <div class="backbutton">
            <a href="{% url 'register' %}">Register</a>
            </div>
        </form>
         <br>

    </div>
 </div>
</body>
</html>